{% extends 'base.html.twig' %}
{% import 'macros.html.twig' as macros %}

{% block title %} {{ acom_name }} {% endblock %}

{% block stylesheets %} {# add script to head #}
    <!-- Custom Theme -->
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">

    {% if editable %}
        <!-- bootstrap tour -->
        <link href="/static/css/bootstrap-tour.min.css" rel="stylesheet">
    {% endif %}

{% endblock %}

{% block scripts_bottom %}
    <script type="text/javascript">
        // some information from php to JS about the current page
        var clean_acom_name = '{{ clean_acom_name }}';
    </script>
    <!-- custom javascript -->
    <script type="text/javascript" src="/static/js/main.js"></script>
    <script>
        $('#myModal').on('shown.bs.modal', function () {
            $('#floating_button').blur();
            $('#modal_search').focus();
            $("#table-new-elem").hide();
        })
    </script>

    <!-- tooltip script -->
    <script>
        $(document).ready(function () {
            $('[data-tooltip="tooltip"]').tooltip();
        });
    </script>

    {% if editable %}
        <!-- bootstrap tour -->
        <script type="text/javascript" src="/static/js/bootstrap-tour.min.js">
        </script>

        <!-- guided tour script -->
        <script>
            var tour = new Tour({
                storage: false,
                steps: [
                    {
                        element: "#search",
                        title: "Suche nach Gegenständen",
                        content: "Suche hier nach Gegenständen, um sie als erledigt zu markieren.",
                        placement: "bottom",
                        backdrop: true,
                        backdropContainer: "body"
                    },
                    {
                        element: "#floating_button",
                        title: "Füge neue Gegenstände zur Bedarfsliste hinzu",
                        content: "Hier kannst du neue Gegenstände zur Liste hinzufügen. Sollten diese bereits in der Liste vorhanden sein wird dies entsprechend gekennzeichnet.",
                        placement: "left"
                    },
                    {
                        element: "#table1",
                        title: "Organisation der Liste",
                        content: "Organisiere hier alle Gegenstände auf der Bedarfsliste, indem du nicht mehr benötigte Sachen im rechten Bereich als erledigt markierst.",
                        placement: "top",
                    }
                ],


            });

            tour.init();

            function startGuidedTour() {

                tour.restart();
            }
        </script>
    {% endif %}
{% endblock %}


{% block body %}
    <nav class="navbar navbar-default navbar-fixed-top">
        <a href="/" style="color:black; text-decoration: none;"><span class="glyphicon glyphicon-home" style="position: absolute; font-size: 19px; left: 8px; top: 14px"></span></a>

        <div class="container-fluid" style="margin-left: 22px">

            <!-- Collect the nav links, forms, and other content for toggling -->


            <input type="text" class="form-control search-input" placeholder="Suche nach Gegenst&auml;nden"
                   id="search" autocomplete="off"/>


            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    {% if editable %}
        <!-- Floating button for creating new items -->
        <button class="btn-primary floating-add-button"
                data-toggle="modal"
                data-target="#myModal" id="floating_button" title="Erstelle einen neuen Gegenstand!"><span
                    class="glyphicon glyphicon-plus"></span></button>
    {% endif %}

    <div id="main_container" class="container">
        <h3>{{ acom_name }}</h3>
        {% if editable %}
            <button class="btn btn-info guided-tour-button" id="help-button" onclick="startGuidedTour()">
                <span class="glyphicon glyphicon-question-sign"></span>
            </button>
        {% endif %}

        <div id="table_content">
            <table class="table" id="table1">
                {% for request in requests %}
                    {{  macros.item_request(request, editable) }}
                {% endfor %}
            </table>
        </div>

        {% if editable %}
            <!-- Model for adding items to the request list -->
            <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header search_modal">
                            <div class="cell">
                                <input id="modal_search" type="text" class="form-control search-input"
                                       placeholder="Neuen Gegenstand zur Bedarfsliste hinzuf&uuml;gen"
                                       id="modal_search" autocomplete="off"/>
                            </div>

                            <div class="cell cell-right">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                        </div>

                        <div class="modal-body">
                            <table class="table" id="table_modal">
                                {% for item in suggestions %}
                                    {{ macros.item_addable(item) }}
                                {% endfor %}

                                <!-- already added -->
                                {% for request in requests %}
                                    {{ macros.item_already_added(request) }}
                                {% endfor %}
                            </table>

                            <div id="table-new-elem">
                                <h4>Neues Item erstellen:</h4>
                                <table class="table  table-bottom new-item" id="new-item-table">
                                    <tr id="row-content">
                                        <td class="item-picture">
                                            <span class="glyphicon glyphicon-gift"></span>
                                        </td>
                                        <td class="item-name" id="item-row-content"></td>

                                        <td class="item-checkoff">
                                            <button type="button" class="btn btn-success"
                                                    data-desc="neues Item hinzuf&uuml;gen"
                                                    value="-1">
                                                <span class="glyphicon glyphicon-plus"></span>
                                            </button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
