{% macro item_request(item, is_editable) %}
    <tr>
        <td class="item-picture">
            {% if item.image_url %}
                <img src="{{ item.image_url }}" class="img-rounded">
            {% else %}
                <span class="glyphicon glyphicon-gift"></span>
            {% endif %}
        </td>

        <td class="item-name">{{ item.name }}</td>

        {% if is_editable %}
            <td class="item-checkoff">
                <button class="btn" data-hoverclass="btn-success"
                        value="{{ item.req_id }}">
                    <span class="glyphicon glyphicon-ok"></span>
                </button>
            </td>
        {% endif %}
    </tr>
{% endmacro %}

{% macro item_addable(item) %}
    <tr>
        <td class="item-picture">
            {% if item.image_url %}
                <img src="{{ item.image_url }}" class="img-rounded">
            {% else %}
                <span class="glyphicon glyphicon-gift"></span>
            {% endif %}
        </td>
        <td class="item-name">{{ item.name }}</td>

        <td class="item-checkoff">
            <button type="button" class="btn" data-hoverclass="btn-info"
                    data-desc="{{ item.name }} hinzuf&uuml;gen"
                    value="{{ item.item_id }}">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </td>
    </tr>
{% endmacro %}

{% macro item_already_added(item) %}
    <tr>
        <td class="item-picture">
            {% if item.image_url %}
                <img src="{{ item.image_url }}" class="img-rounded">
            {% else %}
                <span class="glyphicon glyphicon-gift"></span>
            {% endif %}
        </td>

        <td class="item-name">{{ item.name }}</td>

        <td class="item-checkoff">
            <b>Bereits hinzugefügt</b>
        </td>
    </tr>
{% endmacro %}