{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block stylesheets %} {# add script to head #}
	{{ parent() }}
	<link rel="stylesheet" href="/static/css/print.css">
{% endblock %}

{% block body %}
	<div class="row text-center dont-print">
		<h1>Bitte drucke diese Seite aus, damit Mitarbeiter über den QR-Code oder Link die Bedarfsliste bearbeiten können.</h1>
		<button type="button" class="btn btn-primary" onClick="window.print()">Seite ausdrucken</button>
	</div>
	<div class="container text-center">
		<h1>Bedarfsliste für</h1>
		<h1 id="unterkunft-title">{{ unterkunft }}</h1>
		<div class="row" id="print-qr-code"><img src="{{ qr_src }}" /><br></div>
		<div class="row">
			<div id="unterkunft-link">
				<a id="print-list-link" target="_blank" href="{{ list_url }}">{{ list_url }}</a>
			</div>
		</div>
		<div class="row">
			<h3>
				WICHTIG!
			</h3>
			<p class="print-important">
				Unter diesem Link (oder QR code) findest Du die Bedarfsliste für deine Unterkunft, um sie bearbeiten zu können.
				<br>
				Du benötigst eine Internetverbindung.
				<br>
				Bitte stelle sicher, dass nur Befugte Zugang zu diesem Dokument haben!
			</p>
		</div>
		<h3>
			ANLEITUNG
		</h3>
		<p>
			Einfach den QR-Code per App scannen oder den obigen Link im Browser eingeben.
		</p>
		{#<p class="topic">#}
		{#2. Bedarfsliste bearbeiten#}
		{#</p>#}
		{#<p class="tab">#}
		{#2.1 Suche nach schon hinzugefügtem Gegenstand in der Suchleiste oben#}
		{#<br>#}
		{#Drücke in die Suchleiste oben und tippe den Gegenstand ein, der hinzugefügt werden soll.#}
		{#</p>#}
		{#<p class="tab">#}
		{#2.2 Hinzufügen von Gegenständen zur Liste:#}
		{#<br>#}
		{#Drücke auf das "+" unten rechts.#}
		{#<br>#}
		{#Gib den Gegenstands ein und drücke auf das "+" auf der rechten Seite des Item-Balkens.#}
		{#</p>#}
		{#<p class="tab">#}
		{#2.3 Markieren von abgearbeiteten von Gegenstand aus der Liste:#}
		{#<br>#}
		{#Drücke auf das Häkchen rechts neben dem Gegenstand, der von der Liste abgearbeitet wurde.#}
		{#</p>#}
		{#<p class="topic">#}
		{#3. Nicht änderbare Bedarfsliste#}
		{#</p>#}
		{#<p class="tab">#}
		{#Eine "Nur-Lesen-Version" der Liste zum Verschicken an mögliche Spender findest du hier:#}
		{#<br>#}
		{#<p class="link">#}
		{#{{readonly_list}}#}
		{#</p>#}
		{#</p>#}
	</div>
{% endblock %}
